
.header {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 5rem;
  background: -webkit-linear-gradient(#b73f6d, #ffd740);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Oleo Script', cursive;

}

.icon {
  transform: scale(2);
  background: -webkit-linear-gradient(#b73f6d, #ffd740);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
